.Card__body{
  padding: 1em 1.3em;
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  text-align: center;
  background-color: rgba(231, 235, 238, 0.911);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.15),-3px -3px 10px 4px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1em;

  transition: opacity 0.3s ease-in-out;
}

.Card__body.fade-out{
  opacity: 0;
}

.Card__body.fade-in{
  opacity: 1;
}