:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(130, 196, 253);
  color: rgb(45, 47, 49);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 0.4em 0.8em;
  background-color:  rgb(130, 196, 253);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}